<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% load static %}
  <link rel="stylesheet" href="{% static 'first_app/css/user_home.css' %}">

  <title>Document</title>
</head>
<body>
  <!-- <h1>Hello {{ user.nickname }}</h1> -->

  <h1>Sound Source</h1>


  <form action="/logout">
    <button class="logout_button" type="submit">Logout</button>
  </form>

  <div class="search">
    <form method="POST">
      {% csrf_token %}
      <input type="text" name="uri" placeholder="Artist URI">
      <button type="submit">Search</button>
    </form>
  </div>

  {% if results %}
  <div class="artist">
    {% for x in results %}
    <div class="results">
      <div class="info">
        <h3>{{ x.name }}</h3>
        <a href="{{ x.preview_url }}">Play Song</a>
      </div>
      <img src="{{ x.album.images.0.url }}">
    </div>
    {% endfor %}
  </div>
  {% endif %}

</body>
</html>