<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Hello {{ user.nickname }}</h1>

  <h3>View Playlists</h3>

  {% for x in results %}
  <a href="{{ x.preview_url }}"><button type="button">{{ x.name }}</button></a>
  {% endfor %}


  <form action="/logout">
    <button type="submit">Logout</button>
  </form>
</body>
</html>